body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #36d1dc, #5b86e5);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background: white;
  padding: 2.5rem;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background: #36d1dc;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.switch-text {
  margin-top: 1rem;
}
.switch-text a {
  color: #36d1dc;
  font-weight: bold;
  text-decoration: none;
}
